<table>
{{#each reviews}}
<tr>
    <td>{{courseNumber}}</td> 
    <td>{{courseName}}</td>
    <td>{{semester}}</td>
    <td>{{year}}</td>
    <td>{{professor}}</td>
    <td>{{review}}</td>
</tr>
{{/each}}
</table>